body {
    font-family: Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    background-color: rgb(15, 23, 42);
}

h1 {
    margin-bottom: 20px;
    color: rgb(230, 232, 250);
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
    color: white;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 2px solid gray;
    font-size: 32px;
    cursor: pointer;
}

#restartBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#status {
    margin-top: 20px;
    font-size: 30px;
    color: rgb(230, 232, 250);
}

.counter {
    font-size: 22px;
    color: rgb(230, 232, 250);
}

.winning-cell {
    background-color: rgb(3, 97, 3);
}